doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/imojify.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    script(src="/javascripts/twemoji.min.js")
  body
    block content
    script(src="/javascripts/moment.min.js")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/axios.min.js")
    script(src="/javascripts/konva.min.js")
    script(src="./javascripts/socket.io.js")
    script(src="/js/imojify.js")
    script(src="/javascripts/app.js")